<div class="main-content">
  <section class="section">
    <div class="section-header">
      <h1>BillplzTeam</h1>
    </div>

    <div class="section-body">
      <div class="card">
        <div class="card-body">
          <p>
            Billplz dashboard for team. <%= link_to("Github", "https://github.com/syafiqfaiz/admin_billplz" , target: "_blank") %>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
