<footer class="main-footer">
  <div class="footer-left">
    <div class="bullet"></div> Made by <a href="https://github.com/syafiqfaiz/admin_billplz/">Syafiq Faiz</a>
  </div>
  <div class="footer-right">
    2019
  </div>
</footer>