<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <span class="mr-auto"></span>
  <ul class="navbar-nav navbar-right">
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
      <div class="d-sm-none d-lg-inline-block">Hi, <%= current_user.name.capitalize %></div></a>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to(destroy_user_session_path, method: :delete, class: "dropdown-item has-icon text-danger") do %>
          <i class="fas fa-sign-out-alt"></i> Logout
        <% end %>
      </div>
    </li>
  </ul>
</nav>