<footer class="main-footer">
  <div class="footer-left">
    2018 <div class="bullet"></div> <a href="https://syafiqfaiz.com">Syafiq Faiz</a>
  </div>
  <div class="footer-right">
    <%= link_to("Login", new_user_session_path) %>
  </div>
</footer>